.body-cont {
	padding: 0px;
	margin: 0px;
	border: none;
	width: 100%;
	height: 100%;
	/*position: relative;*/
	background-color: white;
}

/*Menu*/
.cabeza {
	background-color: #5FC69C;
	padding-bottom: 15px;
	margin-bottom: 0px;
	border: none;
	width: 100%;
	height: 150px;
	position: relative;
	left: 0px;
}

nav,menu {
	display: block;
}

.topMenu {
	background-color: gray;
	width: 100%;
	height: 27px;
	left: 0px;
	bottom: 0px;
	position: absolute;
}

/*Cuerpo*/
#cuerpo {
	width: 995px;
	height: auto;
	text-align: center;
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	background-color: white;
	left: 15%;
}


.cuerpo h3 {
	background-color: white;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

#contenido {
	width: 650px;
	height: 75%;
	left: 100px;
	float: left;
   background-color: white;
}

#tabla {
	padding: 0px;
	
}

.panel_main {
	/*width: 450;
	padding: 0px;*/
	
}


.contact_form {
	text-align: center;
}

.contact_form ul {
	width: 750px;
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}

.contact_form li {
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.contact_form li:FIRST-CHILD .contact_form li:LAST-CHILD {
	border-bottom: 1px solid #777;
}

.label {
	width: 250px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}

.item {
	height: 20px;
	width: 220px;
	padding: 5px 8px;
}

.editor {
	width: 750;
	padding: 0px 0px;
}

.panel1 {
	text-align: center;
}

.datosOferta {
	text-align: center;

}

.datosValor {
 position:absolute;
 top:0;
 left:0;
 width:200px;
}


.imagenes {
	padding: 0px;
	margin: 0px;
	width: 290px;
	height: 185px;
	border: 0px;
}

/*Pie*/
#footer {
	text-align: center;
	background-color: #7F7F7F;
	float: left;
	width: 100%;
	height: 250px;
	padding: 0px;
}

